<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="en">
        <link rel="stylesheet" href="../lib/angular/docs/components/bootstrap-3.1.1/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="../lib/angular/docs/components/bootstrap-3.1.1/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="../lib/angular/docs/examples/example-example77/app.css" type="text/css"/>



        <meta charset="UTF-8">
        <title>Client</title>

        <script  type="text/css" src="/lib/bootstrap/css/styles.css"></script>
        <script  type="text/css" src="/lib/bootstrap/css/bootstrap.css"></script>
        <script  type="text/css" src="/lib/bootstrap/css/bootstrap.min.css"></script>
        <script  type="text/css" src="/lib/bootstrap/css/bootstrap-theme.min.css"></script>
        <script  type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script  type="text/javascript" src="/lib/bootstrap/js/angular.min.js"></script>
        <script  type="text/javascript" src="/js/client.js"></script>

    </head>

    <body ng-controller="clientCtrl">


        <div class="container" style="width:100%"> 

            <div class="container" style="width:100%">
                <img src="/img/ploygon-logo.JPG">
            </div>

            <div class="container" align="center">
                <div class="container" class="row">
                    <div class="col-xs-2 col-lg-3"  ng-repeat="product in products">
                        <div class="container" style="width:250px">
                            <img class="img-circle" src="/img/cash_in_transit.png" alt="Generic placeholder image" width="140" height="140">
                            <h2>{{product.name}}</h2>
                            <p>{{product.description}}</p>
                            <p><a  class="btn btn-default" ng-click="viewDetails(product.id)" role="button">View details</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="width:100%">
                <img src="/img/ploygon-footer.JPG">
            </div>
        </div>

    </body>
</html>