<div class="row" style="padding: 25px;" ng-init="init()">
    <div class="col-md-3">
        <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
            <div class="panel-heading">
                <h4>Product</h4>
            </div>
            <div class="panel-body" align="center" style="height: 300px;">
                <img class="img-circle" ng-src="{{product.image}}"  width="140" height="140">
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
            </div>
            <div class="panel-footer text-right">
                <p>
                    <a class="btn btn-default" ng-href="#/products" role="button">All Products</a>
                </p>
            </div>
        </div>
        <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
            <div class="panel-heading">
                <h4>Please provide us following details </h4>
            </div>
            <div class="panel-body" align="center" style="height: 210px;">
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Your Full Name" ng-model="quotationRequest.applicantName" form="form" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Your Company Name" ng-model="quotationRequest.companyName" form="form" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email" ng-model="quotationRequest.applicantEmail" form="form" required>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-options="broker.id as broker.name for broker in brokers" ng-model="quotationRequest.brokerId" form="form" required>
                        <option value="">Select Broker</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
            <div class="panel-heading">
                <h4>Please answer the following questionnaires</h4>
            </div>
            <div class="panel-body" align="left">

                <form data-toggle="validator" role="form" name="form" id="form">

                    <div ng-repeat="questionnaire in questionnaires">

                        <div ng-if="questionnaires[questionnaire.dependsOn - 1].answer.toString() == questionnaire.onAnswer.toString()">		  				  

                            <div  ng-if="questionnaire.answerType == 'text'" class="form-group">
                                <label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
                                <input type="text" class="form-control" 
                                       id="q_{{questionnaire.id}}"
                                       ng-model="questionnaire.answer"
                                       ng-required="questionnaire.isRequired"/>
                            </div>

                            <div ng-if="questionnaire.answerType == 'number'"  class="form-group">
                                <label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>

                                <input type="number" class="form-control" 
                                id="q_{{questionnaire.id}}"
                                       	ng-model="questionnaire.answer"
                                       	ng-required="questionnaire.isRequired">
                            </div>

                            <div ng-if="questionnaire.answerType == 'checkbox'" class="checkbox">
                                <label><input type="checkbox" 
                                              ng-model="questionnaire.answer"
                                              >{{questionnaire.question}}</label>                                              
                            </div>

                            <div ng-if="questionnaire.answerType == 'select'" class="form-group">
                                <label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>                               
                                <select  class="form-control" 
                                         id="q_{{questionnaire.id}}" 
                                         ng-model="questionnaire.answer"
                                         ng-options="answerValue for answerValue in questionnaire.answerValues" 
                                         ng-required="questionnaire.isRequired">     
                                    <option value=""></option>                               	
                                </select>                                
                            </div>

                            <div  ng-if="questionnaire.answerType == 'textarea'" class="form-group">
                                <label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
                                <textarea class="form-control" 
                                          id="q_{{questionnaire.id}}" 
                                          name="{{questionnaire.id}}"
                                          ng-model="questionnaire.answer"></textarea>
                            </div>

                            <div  ng-if="questionnaire.answerType == 'date'" class="form-group">
                                <label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
                                <input type="date" class="form-control" 
                                       id="q_{{questionnaire.id}}"
                                       ng-model="questionnaire.answer"
                                       ng-required="questionnaire.isRequired"/>
                            </div>

                            <div  ng-if="questionnaire.answerType == 'other'" class="form-group">
                                <label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
                                <input type="text" class="form-control" 
                                       id="q_{{questionnaire.id}}"
                                       ng-model="questionnaire.answer"
                                       ng-required="questionnaire.isRequired"/>

                            </div>

                        </div>

                </form>

            </div>

            <div class="panel-footer text-right">

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" form="form" ng-click="submitQuotationRequest(form)">Request Quote</button>
                </div>

            </div>

        </div>

    </div>
</div>