<div class="row" style="padding: 25px;" ng-init="init()">


    <div class="col-md-3">

        <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
            <div class="panel-heading">
                <h4>Product</h4>
            </div>
            <div class="panel-body" align="center" style="height: 300px;">
                <img class="img-circle" ng-src="{{policyRequest.quotation.quotationRequest.product.image}}"
                     width="140" height="140">
                <h3>{{policyRequest.quotation.quotationRequest.product.name}}</h3>
                <p>{{policyRequest.quotation.quotationRequest.product.description}}</p>
            </div>
        </div>

        <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
            <div class="panel-heading">
                <h4>Personal Details</h4>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label class="control-label" for="reference">Reference</label> <input
                            type="text" class="form-control" id="reference"
                            ng-model="policyRequest.quotation.quotationRequest.reference" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="companyName">Company</label> <input
                            type="text" class="form-control" id="companyName"
                            ng-model="policyRequest.quotation.quotationRequest.companyName" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="applicant">Applicant</label> <input
                            type="text" class="form-control" id="applicant"
                            ng-model="policyRequest.quotation.quotationRequest.applicantName" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="appliedOn">Applied On</label> <input
                            type="text" class="form-control" id="appliedOn"
                            ng-model="policyRequest.quotation.quotationRequest.createDate" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="status">Status</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.quotation.quotationRequest.status" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telephoneNumber">Telephone Number</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.telephoneNumber" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="faxNumber">Fax Number</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.faxNumber" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="bankName">Bank Name</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.bankName" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="accountNumber">Account Number</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.accountNumber" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="branchCode">Branch Code</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.branchCode" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="accountType">Account Type</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.accountType" readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="debitorder">Debit Order Date</label> <input
                            type="text" class="form-control" id="status"
                            ng-model="policyRequest.debitOrder" readonly="readonly"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div>
            <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
                <div class="panel-heading">
                    <h4>Quotation Options</h4>

                </div>
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <label class="control-label" for="location">Location: </label>
                            <input type="text" class="form-control" id="location"
                                   ng-model="policyRequest.quotation.option.location" readonly="readonly">

                            <label class="control-label" for="commodity">Commodity: </label>
                            <input type="text" class="form-control" id="commodity"
                                   ng-model="policyRequest.quotation.option.commodity" readonly="readonly">

                            <label class="control-label" for="limit">Limit: </label>
                            <input type="text" class="form-control" id="limit"
                                   ng-model="policyRequest.quotation.option.limit" readonly="readonly">

                            <label class="control-label" for="cover">Cover: </label>
                            <input type="text" class="form-control" id="cover"
                                   ng-model="policyRequest.quotation.option.cover" readonly="readonly">

                            <label class="control-label" for="duration">Duration: </label>
                            <input type="text" class="form-control" id="duration"
                                   ng-model="policyRequest.quotation.option.duration" readonly="readonly">

                            <label class="control-label" for="excess">Excess: </label>
                            <input type="text" class="form-control" id="excess"
                                   ng-model="policyRequest.quotation.option.excess" readonly="readonly">

                            <label class="control-label" for="premium">Premium: </label>
                            <input type="text" class="form-control" id="premium"
                                   ng-model="policyRequest.quotation.option.premium" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
                <div class="panel-heading">
                    <h1>Q and A</h1>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="form-group"
                             ng-repeat="questionnaire in policyRequest.quotation.quotationRequest.questionnaire">
                            <label class="control-label" for="q_{{index}}">Q:
                                {{questionnaire.question}}</label>
                            <textarea class="form-control" id="q_{{index}}"
                                      ng-model="questionnaire.answer" readonly="readonly"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

