<div style="width: 20%; margin-left: auto;margin-right: auto;margin-top: 10%;" ng-init="init()">

    <form role="form" name="loginform" id="loginform">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <input type="text" class="form-control" id="inputId" placeholder="User Name" ng-model="userName"
                       required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                       ng-model="password"
                       required>
            </div>
            <button type="submit" class="btn btn-primary" ng-href="#/user" ng-click="submitLogin(loginform)">Login
            </button>
            <h4 style="color:#ff6464;text-align: center;flex-grow:inherit">{{error}}</h4>
        </fieldset>
    </form>

</div>
