<div class="row" style="padding: 25px;" ng-init="init()">


    <div class="alert alert-success alert-dismissible" role="alert" ng-if="error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeNotification()">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Sorry ! </strong>{{error}}
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" ng-if="message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeNotification()">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Success ! </strong>{{message}}
    </div>


    <div class="col-md-12">
        <div class="panel panel-default" style="box-shadow: 0 0 30px black;">
            <div class="panel-heading">
                <h4>Underwriting</h4>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <label>Reference No:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>Policy Reference No:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>Int Policy No:<span><input type="text" class="form-control" readonly/></span></label>       
                    </div>
                    <div class="col-md-3">
                        <label>Client:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>Broker Commission:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>UA Commission:<span><input type="text" class="form-control" readonly/></span></label>       
                    </div>
                    <div class="col-md-3">
                        <label>Policy Section:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>Sum Insured:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>Maximum Sum Insured:<span><input type="text" class="form-control" readonly/></span></label>       
                    </div>
                    <div class="col-md-3">
                        <label>Premium:<span><input type="text" class="form-control" readonly/></span></label>
                        <label>SASRIA Premium:<span><input type="text" class="form-control" readonly/></span></label>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#policy-admin">General</a></li>
                <li><a data-toggle="tab" href="#limitofIndemnity">Limit of Indemnity</a></li>
                <li><a data-toggle="tab" href="#conveyances">Conveyances</a></li>
                <li><a data-toggle="tab" href="#geographical">Geographical and Duration</a></li>
            </ul>
            <div class="tab-content">
                <div id="policy-admin" class="tab-pane fade in active">
                    <h4><b>Schedule attaching to and forming part of:</b></h4>
                    <textarea class="form-control"></textarea>
                    <p align="right"><button class="btn btn-default">Edit</button>
                        <button class="btn btn-default">Update</button>
                    </p>
                    <h4><b>Type of Cover:</b></h4>
                    <textarea class="form-control"></textarea>
                    <p align="right"><button class="btn btn-default">Edit</button>
                        <button class="btn btn-default">Update</button>
                    </p>
                    <h4><b>Subject Matter:</b></h4>
                    <input type="text" class="form-control" readonly>
                    <h4><b>Excess Structure:</b></h4>
                    <input type="text" class="form-control" readonly>
                    <h4><b>Special Policy Conditions:</b></h4>
                    <textarea class="form-control"></textarea>
                    <p align="right"><button class="btn btn-default">Edit</button>
                        <button class="btn btn-default">Update</button>
                    </p><br>
                </div>
                <div id="limitofIndemnity" class="tab-pane fade">
                    
                </div>
                <div id="conveyances" class="tab-pane fade">
                </div>
                <div id="geographical" class="tab-pane fade">

                </div>
            </div>
            <div class="page-footer text-right">
                <button class="btn-info">Ok</button>
                <button class="btn-warning">Cancel</button>
            </div>

        </div>
    </div>



