<div class="row" style="padding: 25px;" ng-init="init()">
	<div class="alert alert-success alert-dismissible" role="alert"
		ng-if="message">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close" ng-click="closeNotification()">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Success ! </strong>{{message}}
	</div>

	<div class="col-md-12">
		<form name="form" ng-submit="submitForPolicy(form.$valid)" novalidate>

			<div class="panel panel-default" style="box-shadow: 0 0 30px black;">

				<div class="panel-heading">
					<h4>
						<b>Policy Reference No: </b>{{policy.reference}}
						<div class="pull-right" style="font: 14px arial">
							<a href="#/clients/{{policy.client.clientId}}">View Client
								Details</a>
						</div>
					</h4>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default"
								style="box-shadow: 0 0 30px #ffff;">
								<div class="panel-heading">
									<h5>
										<b>Policy Details</b>
									</h5>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label>Underwritting Year</label> <input type="text"
													class="form-control" ng-model="policy.underwritingYear"
													readonly />
											</div>

											<div class="form-group">
												<label>Policy Inception Date</label> <input type="text"
													class="form-control" ng-model="policy.policyInceptionDate"
													readonly />
											</div>
											<div class="form-group">
												<label>Inception Date</label> <input type="text"
													ng-readonly="isUpdate" class="form-control"
													ng-model="policy.inceptionDate" />
											</div>
											<div class="form-group">
												<label>Renewal Date</label> <input type="text" form="form"
													class="form-control" ng-model="policy.anniversaryDate"
													readonly />
											</div>
										</div>

										<div class="col-md-3">
											<div class="form-group">
												<label>Sasria Frequency</label> <select class="form-control"
													ng-model="policy.sasriaFrequency" id="sas" required
													ng-readonly="isUpdate"
													ng-options="sasriaOption for sasriaOption in policyOptions.sasriaFrequencyOptions">
													<option value=""></option>
												</select>
											</div>
											<div class="form-group">
												<label>Frequency</label> <select class="form-control"
													ng-model="policy.frequency" id="fre" required
													ng-readonly="isUpdate"
													ng-options="frequencyOption for frequencyOption in policyOptions.frequencyOptions">
													<option value=""></option>
												</select>
											</div>
											<div class="form-group">
												<label>Status</label> <input type="text"
													ng-readonly="isUpdate" class="form-control"
													ng-model="policy.status" required />
											</div>

											<div class="form-group">
												<label>Device</label> <select class="form-control"
													ng-model="policy.device" id="dev" required
													ng-readonly="isUpdate"
													ng-options="deviceOption for deviceOption in policyOptions.deviceOptions">
													<option value=""></option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Notes</label>
												<textarea class="form-control" rows="8"
													ng-readonly="isUpdate" ng-model="policy.notes" required></textarea>
											</div>

											<div class="form-group form-inline">
												<input type="checkbox" class="form-control"
													ng-model="policy.collectByDebitOrder" readonly disabled/> <label>Collect
													By Debit Order</label>
											</div>
											<div class="form-group form-inline">
												<input type="checkbox" class="form-control"
													ng-readonly="isUpdate" ng-model="policy.excludeSasria" />
												<label>Exclude Sasria</label>
											</div>

										</div>
									</div>


									<div class="row">

										<div class="panel-default" style="box-shadow: 0 0 30px #ffff;">
											<div class="panel-heading">
												<h5>
													<b>Commission Summary</b>
												</h5>
											</div>

											<div class="panel-body">
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group form-inline">
															<label>Broker Commission</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.brokerCommission"
																ng-readonly="isUpdate" required />
														</div>
														<div class="form-group form-inline">
															<label>UMA Fee</label> <input type="text"
																class="form-control pull-right" ng-model="policy.umaFee"
																ng-readonly="isUpdate" required />
														</div>
														<div class="form-group form-inline">
															<label>Policy Fee</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.policyFee" ng-readonly="isUpdate"
																required />
														</div>
														<div class="form-group form-inline">
															<label>Initial/Additional Fee</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.initialFee" ng-readonly="isUpdate"
																required />
														</div>
													</div>

													<div class="col-sm-7">
														<table class="table table-boarded">
															<thead>
																<tr>
																	<th>Select Agent</th>
																	<th>Agent Name</th>
																	<th>Commission</th>
																	<th>Status</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td><select class="form-control"
																		ng-model="policy.subAgentId" ng-readonly="isUpdate"
																		required id="policy.subAgentId"
																		ng-options="subAgent.id as subAgent.firstName for subAgent in subAgents">
																			<option value=""></option>
																	</select></td>
																	<td><input type="text" class="form-control"
																		readonly
																		ng-options="subAgent.id as subAgent.firstName for subAgent in subAgents"
																		ng-model="policy.subAgent.firstName"></td>
																	<td><input type="text" class="form-control"
																		required ng-readonly="isUpdate"
																		ng-model="policy.underwriterCommission"></td>
																	<td><input type="text" class="form-control"
																		required readonly ng-model="policy.status"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default"
								style="box-shadow: 0 0 30px #ffff;">
								<div class="panel-heading">
									<h5>
										<b>Policy Schedule Summary</b>
									</h5>
								</div>

								<div class="panel-body">

									<div class="panel panel-default"
										style="box-shadow: 0 0 30px #ffff;">

										<div class="panel-default" style="box-shadow: 0 0 30px #ffff;">

											<div class="panel-body">
												<div class="row">
													<div class="col-md-4">

														<div class="form-group form-inline">
															<label>Policy Section</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.productName" readonly />
														</div>
														<div class="form-group form-inline">
															<label>Max Sum Insured</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.maximumSumInsured" readonly />
														</div>

														<div class="form-group form-inline">
															<label>Sum Insured</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.premium" readonly />
														</div>

													</div>
													<div class="col-md-4">
														<div class="form-group form-inline">
															<label>Premium</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.premium" readonly />
														</div>
														<div class="form-group form-inline">
															<label>Sasria Premium</label> <input type="text"
																class="form-control pull-right"
																ng-model="policy.premium" readonly />
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div id="accordion" class="panel-group">

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title">

													<a data-toggle="collapse" data-parent="#accordion"
														href="/#collapseOne">General</a>

												</h4>

											</div>

											<div id="collapseOne" class="panel-collapse collapse in">

												<div class="panel-body">

													<div class="form-group">
														<label>Schedule Attaching to and Forming Part of</label>
														<textarea class="form-control" ng-readonly="isUpdate"
															ng-model="policy.scheduleAttaching"></textarea>
													</div>
													<div class="form-group">
														<label>Type of Cover:</label>
														<textarea class="form-control"
															ng-model="policy.typeOfCover" ng-readonly="isUpdate" /></textarea>
													</div>

													<div class="form-group">
														<label>Subject Matter:</label> <input type="text"
															class="form-control" ng-model="policy.subjectMatter"
															readonly>
													</div>
													<div class="form-group">
														<label>Excess Structure:</label>
														</h4>
														<input type="text" class="form-control"
															ng-model="policy.excessStructure" ng-readonly="isUpdate"
															required />
													</div>

													<div class="form-group">
														<label>Special Policy Conditions</label>
														</h4>
														<textarea class="form-control"
															ng-readonly="isUpdate" required
															ng-model="policy.specialCondition"></textarea>
													</div>


												</div>
											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title">

													<a data-toggle="collapse" data-parent="#accordion"
														href="/#collapseTwo">Limit of Indemnity</a>

												</h4>

											</div>

											<div id="collapseTwo" class="panel-collapse collapse">

												<div class="panel-body">
													<table class="table table-bordered">
														<thead>
															<tr>
																<th>Indemnity Option</th>
																<th>Indemnity Value</th>
																<th>Sum Insured</th>
																<th>Premium</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="indemnity in policy.indemnityOption">
																<td><input type="text" class="form-control"
																	ng-model="indemnity.indemnityItemOption"
																	ng-readonly="isUpdate"></td>
																<td><input type="text" class="form-control"
																	ng-model="indemnity.indemnityValue"
																	ng-readonly="isUpdate"></td>
																<td><input type="text" class="form-control"
																	ng-model="indemnity.sumInsured" ng-readonly="isUpdate"></td>
																<td><input type="text" class="form-control"
																	ng-model="indemnity.premium" ng-readonly="isUpdate"></td>
															</tr>
														</tbody>
													</table>

													<div class="pull-right">
														<a ng-href="#" role="link">Add Indemnity</a>
													</div>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title">

													<a data-toggle="collapse" data-parent="#accordion"
														href="/#collapseThree">Conveyances</a>

												</h4>

											</div>

											<div id="collapseThree" class="panel-collapse collapse">

												<div class="panel-body">

													<div class="form-group">
														<label>Description</label>
														<textarea class="form-control"
															ng-model="policy.conveyances" ng-readonly="isUpdate"></textarea>
													</div>

													<div class="pull-right">
														<a ng-href="#/client" role="link">Update</a> <a
															ng-href="#/client" role="link">Cancel</a>
													</div>

												</div>

											</div>

										</div>

										<div class="panel panel-default">

											<div class="panel-heading">

												<h4 class="panel-title">

													<a data-toggle="collapse" data-parent="#accordion"
														href="/#collapseFour">Geographical and Durations</a>

												</h4>

											</div>

											<div id="collapseFour" class="panel-collapse collapse">

												<div class="panel-body">

													<div class="form-group">
														<label>Description</label>
														<textarea class="form-control"
															ng-model="policy.geographicalDuration"
															ng-readonly="isUpdate"></textarea>
													</div>
													<div class="pull-right">
														<a ng-href="#/client" role="link">Update</a> <a
															ng-href="#/client" role="link">Cancel</a>
													</div>
												</div>
											</div>

										</div>


										<div class="panel panel-default" ng-if="policyScheduleContent">

											<div class="panel-heading">

												<h4 class="panel-title">

													<a data-toggle="collapse" data-parent="#accordion"
														href="/#collapseFive">Policy Schedule Preview</a>

												</h4>

											</div>

											<div id="collapseFive" class="panel-collapse collapse">

												<div class="panel-body">

													<div class="modal-content">
														<object data="{{policyScheduleContent}}"
															style="width: 100%; height: 700px"></object>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default"
								style="box-shadow: 0 0 30px #ffff;">
								<div class="panel-body">
									<div class="pull-center">
										<a ng-href="#/policy/{{policy.reference}}"
											ng-click="submitForPolicySchedule(policy.reference)"
											role="link">Preview Policy Schedule</a> <a
											ng-href="#/policy/{{policy.reference}}"
											ng-click="update(false)" role="link">Edit Policy</a> <a
											ng-href="#/policy/{{policy.reference}}"
											ng-click="updatePolicy(policy.reference)" role="link">Update
											Changes</a> <a ng-href="#/policy/{{policy.reference}}"
											ng-click="cancel(false)" role="link">Cancel Changes</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-footer text-right">
					<button class="btn btn-success" type="submit">{{btnValue}}</button>
					<button class="btn btn-danger">Reject</button>
				</div>

			</div>
		</form>
	</div>
</div>

