<div class="row" style="padding: 25px;" ng-init="init()">
	<div class="col-md-3">
		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Broker</h4>
			</div>
			<div class="panel-body" align="center" style="height: 250px;">
				<img class="img-responsive" ng-src="/img/products/headerblue.png"><br>
				<span>All requests for quotations will be processed through
					an independent intermediary, Blue Quanta Risk Management (Pty) Ltd.
					A representative will be in contact with you upon completion of the
					questions and formulation of the terms.</span>

			</div>
		</div>
		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Product</h4>
			</div>
			<div class="panel-body" align="center" style="height: 300px;">
				<img class="img-circle" ng-src="{{product.image}}" width="140"
					height="140">
				<h3>{{product.name}}</h3>
				<p>{{product.description}}</p>
			</div>
			<div class="panel-footer text-right">
				<p>
					<a class="btn btn-default" ng-href="#/products" role="button">All
						Products</a>
				</p>
			</div>
		</div>
		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4 title="We request all answers">Please provide the following
					details</h4>
			</div>
			<div class="panel-body" align="center" style="height: 210px;">
				<div class="form-group">
					<input type="text" class="form-control"
						placeholder="Your Full Name"
						ng-model="quotationRequest.applicantName" form="form" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						placeholder="Your Company Name"
						ng-model="quotationRequest.companyName" form="form" required>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Your Email"
						ng-model="quotationRequest.applicantEmail" form="form" required>
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Please answer the following questions</h4>
			</div>
			<div class="panel-body" align="left">
				<form data-toggle="validator" role="form" name="form" id="form">
					<div ng-repeat="option in location.options">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="/#{{option.optionName}}">{{option.optionName}}</a>
								</h4>
							</div>
							<div id="{{option.optionName}}" class="panel-collapse">
								<div class="panel-body">
									<div>
										<div>
											<div>
												<div class="form-group">
													<div class="form-group">
														<label class="control-label">What do you wish to
															insure?</label>
														<div class="col-lg-10">
															<label class="checkbox-inline"> <input
																ng-true-value="'Cash'" ng-false-value="''"
																ng-model="models[$index].cash" type="checkbox"
																name="radio"> Cash
															</label> <label class="checkbox-inline"> <input
																ng-true-value="'Bullion'" ng-false-value="''"
																ng-model="models[$index].bullion" type="checkbox"
																name="radio"> Bullion
															</label> <label class="checkbox-inline"> <input
																ng-true-value="'Diamonds'" ng-false-value="''"
																ng-model="models[$index].diamonds" type="checkbox"
																name="radio"> Diamonds
															</label> <label class="checkbox-inline"> <input
																ng-true-value="'Precious Stones'" ng-false-value="''"
																ng-model="models[$index].preciousStone" type="checkbox"
																name="radio"> Precious Stones
															</label> <label class="checkbox-inline"> <input
																ng-model="models[$index].other" type="checkbox"
																ng-false-value="''" name="radio"> Other
															</label>
														</div>
														<div ng-if="models[$index].other == true"
															class="form-group">
															<label class="control-label">Please specify for
																other?</label> <input type="text" class="form-control"
																ng-model="models[$index].otherExtra" required>
														</div>
													</div>
												</div>
											</div>
											<br />


											<div class="form-group" ng-if="productId != 4">
												<label class="control-label" for="productName">What
													is the maximum amount you wish to insure?</label>
												<div class="input-group">
													<span class="input-group-addon">R</span> <input type="text"
														placeholder="100 000 000" class="form-control"
														ng-model="option.limit" pattern="[0-9]+([\.,][0-9]+)*"
														format min="5000.00" max="10000000.00" required>
												</div>

											</div>

											<div class="form-group" ng-if="productId == 4">
												<label class="control-label" for="productName">What
													is the maximum amount you wish to insure in Cash in transit
													?</label>
												<div class="input-group">
													<span class="input-group-addon">R</span> <input type="text"
														placeholder="100 000 000" class="form-control"
														min="5000.00" max="1000000.00" ng-model="option.limit"
														pattern="[0-9]+([\.,][0-9]+)*" format required>
												</div>
											</div>

											<div class="form-group" ng-if="productId != 4">
												<label><input type="checkbox"
													ng-model="option.isGoodsMoved" /> Is the above amount the
													total full value of the goods being moved?</label>
											</div>

											<div class="form-group" ng-if="productId == 4">
												<label><input type="checkbox"
													ng-model="option.isGoodsMovedStatic" /> Is the above
													amount the total full value of the goods being moved in
													Cash in transit ?</label>
											</div>

											<div class="form-group"
												ng-if="option.isGoodsMoved == false && productId != 4">
												<label class="control-label" for="commodity">What is
													the total full value of the goods being moved?</label> <input
													type="text"
													placeholder="100 000 000 or differs from day to day"
													class="form-control" ng-model="option.totalValue">
											</div>

											<div class="form-group"
												ng-if="option.isGoodsMovedStatic == false && productId == 4">
												<label class="control-label" for="commodity">What is
													the total full value of the goods being moved in Cash in
													transit ?</label> <input type="text"
													placeholder="100 000 000 or differs from day to day"
													class="form-control" ng-model="option.transitTotalValue">
											</div>

											<div>
												<label class="control-label" for="productName"
													style="font-family: 14px bold; color: red">NB NB
													NB: If you have not request first loss cover, and the value
													carried exceeds your sum insured as requested adjacent,
													there will be no cover in force for that particular load.</label>
											</div>
											<div class="form-group">
												<label> <input ng-model="option.isFirstLossCover"
													type="checkbox" name="radio"> For additional
													premium, do you want first loss cover?
												</label>
											</div>


											<div class="form-group">
												<label> <input type="checkbox" name="radio"
													ng-model="option.isServiceCarrier"> Do you use the
													services of a professional valuables carriers?
												</label>
											</div>
											<div>
												<label class="control-label" for="productName"
													style="font-family: 14px bold; color: red">NB: If a
													professional carrier is not used, valuables will only be
													insured up to R10 000.00.</label>
											</div>

											<div class="form-group"
												ng-if="option.isServiceCarrier == true">
												<label class="control-label" for="isServiceCarrier">What
													is the name of the professional valuables carrier?</label> <select
													class="form-control" ng-model="option.professionalCarriers"
													required>
													<option value="" disabled selected>Select your
														professional carrier</option>
													<option value="Protea Coin Service">Protea Coin
														Service</option>
													<option value="G4S Service">G4S Service</option>
													<option value="Fidelity Service">Fidelity Service</option>
													<option value="Imperial Logistics">Imperial
														Logistics</option>
												</select>
											</div>

											<div class="form-group"
												ng-if="option.isServiceCarrier == false">
												<label class="control-label" for="commodity">Please
													specify by whom and how are the valuables carried?</label> <input
													type="text" class="form-control"
													placeholder="Your Carrier name"
													ng-model="option.specificCarrier">
											</div>

											<div class="form-group" ng-if="productId == 4">
												<label class="control-label" for="productName">What
													is the maximum amount you wish to insure in Static ?</label>
												<div class="input-group">
													<span class="input-group-addon">R</span> <input type="text"
														class="form-control" ng-model="option.staticLimit"
														placeholder="100 000 000" pattern="[0-9]+([\.,][0-9]+)*"
														format min="5000.00" max="1000000.00" required>
												</div>
											</div>


											<div class="form-group" ng-if="productId == 4">
												<label><input type="checkbox"
													ng-model="option.isGoodsMoved" /> Is the above amount the
													total full value of the goods being stored in static ?</label>
											</div>

											<div class="form-group"
												ng-if="option.isGoodsMoved == false && productId == 4">
												<label class="control-label" for="commodity">What is
													the total full value of the goods being stored in static?</label> <input
													type="text" class="form-control"
													placeholder="100 000 000 or differs from day to day"
													ng-model="option.staticMaxAmount">
											</div>

											<div class="form-group"
												ng-if="productId == 2 || productId == 4">
												<label class="control-label" for="commodity">Please
													give a full description of the goods to be insured?</label> <input
													type="text" class="form-control"
													placeholder="Description of the Goods"
													ng-model="option.goodsDescription">
											</div>
											<div class="form-group"
												ng-if="productId == 2 || productId == 4">
												<label><input type="checkbox"
													ng-model="option.isStoreVault" /> Are the goods going to
													be stored in vault?</label>
											</div>
											<div class="form-group" ng-if="option.isStoreVault == true">
												<label><input type="checkbox"
													ng-model="option.isConcreteSecured" /> Is the vault
													secured with reinforced concrete on all sides as well as
													top and bottom ?</label>
											</div>
											<div class="form-group" ng-if="option.isStoreVault == true">
												<label><input type="checkbox"
													ng-model="option.isSeismicDetector" /> Is vault fitted
													with interior seismic detectors inside the vault ?</label>
											</div>
											<div class="form-group" ng-if="option.isStoreVault == true">
												<label><input type="checkbox"
													ng-model="option.isCctv" /> Is vault equipped with 24 hour
													infra-red cameras and normal CCTV 24 hours recording ?</label>
											</div>
											<div class="form-group" ng-if="option.isStoreVault == true">
												<label><input type="checkbox"
													ng-model="option.isAlarmed" /> Does the vault have an
													alarm and is it linked to an external response company ?</label>
											</div>
											<div class="form-group"
												ng-if="option.isStoreVault == false && (productId == 2 || productId == 4)">
												<label class="control-label" for="commodity">If
													Goods are not stored in a vault, Please supply details of
													storage?</label> <input type="text" class="form-control"
													ng-model="option.storageDeatails">
											</div>
											<div class="form-group"
												ng-if="productId == 2 || productId == 4">
												<label class="control-label" for="commodity">What is
													the address of the stored vault ?</label> <input type="text"
													class="form-control" ng-model="option.vaultAddress">
											</div>
											<div class="form-group"
												ng-if="productId == 2 || productId == 4">
												<label class="control-label" for="sabsCategory">Please
													select the SABS safety category of the vault :</label> <select
													class="form-control" ng-model="option.sabsCategory"
													required>
													<option value="" disabled selected>Select your
														SABS Category</option>
													<option value="No SABS grading">No SABS grading</option>
													<option value="SABS Category I">SABS Category I</option>
													<option value="SABS Category II">SABS Category II</option>
													<option value="SABS Category II HD grading">SABS
														Category II HD grading</option>
													<option value="SABS Category II ADM">SABS Category
														II ADM</option>
													<option value="SABS Category II ADM Grading D3">SABS
														Category II ADM Grading D3</option>
													<option value="SABS Category III grading">SABS
														Category III grading</option>
													<option value="SABS Category IV grading">SABS
														Category IV grading</option>
												</select>
											</div>



											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label" for="commodity">From
															where are the valuables being carried?</label> <input type="text"
															placeholder="Pick up location" class="form-control"
															ng-model="option.fromLocation">
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label" for="commodity">To
															where are the valuables being carried?</label> <input type="text"
															placeholder="Destination" class="form-control"
															ng-model="option.toLocation">
													</div>
												</div>
											</div>

											<div class="form-group form-inlin">
												<label class="control-label" for="limit">What is the
													approximate distance?</label> <select class="form-control"
													ng-model="option.distance"
													placeholder="Approximate Distance in km"
													ng-required="questionnaire.isRequired" required>
													<option value="0km to 100km">0km to 100km</option>
													<option value="100km to 200km">100km to 200km</option>
													<option value="200km to 300km">200km to 300km</option>
													<option value="300km to 400km">300km to 400km</option>
													<option value="400km to 500km">400km to 500km</option>
													<option value="500km to 600km">500km to 600km</option>
													<option value="Over 600km">Over 600km</option>
												</select>
											</div>

											<div class="form-group">
												<label class="control-label" for="staticLimit">How
													many times are the valuables being carried?</label>
												<div class="form-group form-inline">
													<input type="number" class="form-control" size="5"
														placeholder="No of Times"
														ng-model="models[$index].noOfTimes" required> <select
														class="form-control" ng-model="models[$index].period"
														required>
														<option value="" disabled selected>Select Period</option>
														<option value=" x Weekly">x Weekly</option>
														<option value=" x Monthly">x Monthly</option>
														<option value=" x Annually">x Annually</option>
														<option value=" x Daily">x Daily</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="form-group">
						<label><input type="checkbox"
							ng-click="addRemoveLocation(isMoreCovers)"
							ng-model="isMoreCovers" /> Do you require cover for more than
							one store/outlet/location for this cover?</label>

						<div class="form-group" ng-if="isMoreCovers == true">
							<div class="pull-right">
								<button class="btn btn-info btn-sm" ng-click="add()">Add
									Location</button>
								<button class="btn btn-warning btn-sm" ng-click="remove()">Remove
									Location</button>
							</div>
						</div>

					</div>

					<div ng-repeat="questionnaire in questionnaires">

						<div
							ng-if="questionnaires[questionnaire.dependsOn - 1].answer.toString() == questionnaire.onAnswer.toString()">

							<div ng-if="questionnaire.answerType == 'text'"
								class="form-group">
								<label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
								<input type="text" class="form-control"
									id="q_{{questionnaire.id}}" ng-model="questionnaire.answer"
									ng-required="questionnaire.isRequired" required />
							</div>

							<div ng-if="questionnaire.answerType == 'number'"
								class="form-group">
								<label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>

								<input type="number" class="form-control"
									id="q_{{questionnaire.id}}" ng-model="questionnaire.answer"
									ng-required="questionnaire.isRequired" required> <label
									ng-show='questionnaire.answer'>{{questionnaire.answer|
									currency:'ZAR '}}</label>
							</div>

							<div ng-if="questionnaire.answerType == 'checkbox'"
								class="checkbox">
								<label for="q_{{questionnaire.id}}"><input
									type="checkbox" ng-model="questionnaire.answer">{{questionnaire.question}}</label>
							</div>

							<div ng-if="questionnaire.answerType == 'select'"
								class="form-group">
								<label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
								<select class="form-control" id="q_{{questionnaire.id}}"
									ng-model="questionnaire.answer"
									ng-options="answerValue for answerValue in questionnaire.answerValues"
									ng-required="questionnaire.isRequired" required>
									<option value=""></option>
								</select>
							</div>

							<div ng-if="questionnaire.answerType == 'textarea'"
								class="form-group">
								<label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
								<textarea class="form-control" id="q_{{questionnaire.id}}"
									name="{{questionnaire.id}}" ng-model="questionnaire.answer"
									required></textarea>
							</div>

							<div ng-if="questionnaire.answerType == 'date'"
								class="form-group">
								<label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
								<input type="date" class="form-control"
									id="q_{{questionnaire.id}}" ng-model="questionnaire.answer"
									ng-required="questionnaire.isRequired" required />
							</div>


							<div ng-if="questionnaire.answerType == 'other'"
								class="form-group">
								<label for="q_{{questionnaire.id}}">{{questionnaire.question}}</label>
								<input type="text" class="form-control"
									id="q_{{questionnaire.id}}" ng-model="questionnaire.answer"
									ng-required="questionnaire.isRequired" required />
							</div>

						</div>

					</div>

					<div>
						<label><input type="checkbox"
							ng-click="addRemoveHistory()" ng-model="isHistory" /> Have you
							suffered any losses of valuable goods over the past 5 years?</label>
					</div>

					<div class="form-group" ng-if="isHistory == true">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Year</th>
									<th>Value</th>
									<th>Type Of loss</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="history in histories">
									<td><select class="form-control"
										ng-model="history.eventDate" required>
											<option value="" disabled selected>Select the year</option>
											<option value="2009">2009</option>
											<option value="2010">2010</option>
											<option value="2011">2011</option>
											<option value="2012">2012</option>
											<option value="2013">2013</option>
											<option value="2014">2014</option>
											<option value="2015">2015</option>
									</select></td>
									<td><input type="text" class="form-control"
										placeholder="R 100,000,00," pattern="[0-9]+([\.,][0-9]+)*"
										format ng-model="history.lossValue" required></td>
									<td><input type="text" class="form-control"
										ng-model="history.typeOfLoss" placeholder="Eg. Robbery"
										required></td>
								</tr>

							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">
										<div class="form-group">
											<div class="pull-left">
												<label>Do you have more history?</label>
											</div>
											<div class="pull-right">
												<button class="btn btn-info btn-sm"
													ng-click="addMoreHistory()">Add More History</button>
												<button class="btn btn-warning btn-sm"
													ng-click="removeMoreHistory()">Remove History</button>
											</div>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="panel panel-default">
						<div class="panel-body" align="left">
							<h4>SASRIA (South African Special Risks Insurance
								Association)</h4>

							<span>It is state-owned underwriter established to provide
								business with an insurance safety net for political and
								non-political riot, labour unrest, terrorism and related
								risk.Claims arising from these occurrence are excluded in terms
								of our policy wording and should you not purchase this cover
								additionally, you will not have a valid claim in the
								circumstances described above. </span><br>
							<hr style="color: #F87431; height: 1px" />
							<input type="checkbox" required> <span> I hereby
								acknowledge that I have read and understood the policy wording.
								The wording is also available by visiting <a
								href="http://www.polygongroup.co.za">polygongroup</a> or by
								sending an <a href="mailto:lkonaite@gmail.com">email</a> to us.
								I understand that this policy is not in place until confirmation
								is received from the insurer. I am aware of the fact that
								insurance premiums are payable in advance by the 7th of each and
								every month and that failure to do so will result in cover being
								suspended for the period in which premiums are unpaid. <br>
								<br> <b>IMPORTANT :</b> This proposal forms the basis of
								the insurance contract between the Insured and the Insurer once
								completed by the Insured and accepted by the Insurer. making a
								false statement or withholding any material fact may give the
								Insurer the right to repudiate any claim made under the policy
								or may result in a policy being declared null or void from
								inception, a material fact is any fact which influences the
								acceptance of risk or conditions and premiums on which it is
								accepted. This proposal must therefore be fully/accurately
								completed and accepted by the proposer.
							</span>
						</div>
					</div>
			</div>

			</form>


			<div class="panel-footer text-right">

				<div class="form-group">
					<button type="submit" class="btn btn-primary" form="form"
						ng-click="submitQuotationRequest(form)">Request Quote</button>
				</div>

			</div>

		</div>

	</div>

</div>