<div class="row" style="padding: 25px;" ng-init="init()">


	<div class="col-md-3">

		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Product</h4>
			</div>
			<div class="panel-body" align="center" style="height: 300px;">
				<img class="img-circle"
					ng-src="{{quotation.quotationRequest.product.image}}" width="140"
					height="140">
				<h3>{{quotation.quotationRequest.product.name}}</h3>
				<p>{{quotation.quotationRequest.product.description}}</p>
			</div>
		</div>

		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Personal Details</h4>
			</div>
			<div class="panel-body">
				<div>
					<div class="form-group">
						<label class="control-label" for="reference">Reference</label> <input
							type="text" class="form-control" id="reference"
							ng-model="quotation.quotationRequest.reference"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="companyName">Company</label> <input
							type="text" class="form-control" id="companyName"
							ng-model="quotation.quotationRequest.companyName"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="applicant">Applicant</label> <input
							type="text" class="form-control" id="applicant"
							ng-model="quotation.quotationRequest.applicantName"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="appliedOn">Applied On</label> <input
							type="text" class="form-control" id="appliedOn"
							ng-model="quotation.quotationRequest.createDate"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="status">Status</label> <input
							type="text" class="form-control" id="status"
							ng-model="quotation.quotationRequest.status" readonly="readonly" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Quotation(s) Application</h4>
			</div>
			<div class="panel-body">

				<div ng-repeat="option in quotation.option" ng-if="quotation.quotationRequest.product.id != 5">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="/#{{$index + 1}}">Location Option {{$index + 1}}</a>
							</h4>
						</div>
						<div id="{{$index + 1}}" class="panel-collapse collapse-in">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-body">
												<div class="form-group">
													<label class="control-label" for="limit">Cover
														Limits</label><div class="input-group"><span class="input-group-addon" style="background: #E3E3E3; color: #767676">R</span> <input type="text" class="form-control"
                                                                                                                                                                                                        ng-model="option.limit" readonly></div>
												</div>
												<div class="form-group">
													<label class="control-label" for="commodity">Commodity</label>
													<input type="text" class="form-control"
														ng-model="option.commodity" readonly>
												</div>

												<div class="form-group">
													<label class="control-label" for="limit">Cover</label>
													<textarea ng-model="option.cover" class="form-control" readonly></textarea>
												</div>

												<div class="form-group"
													ng-if="quotationRequest.product.id == 4">
													<label class="control-label" for="staticLimit">Static
														Limit</label><div class="input-group"><span class="input-group-addon" style="background: #E3E3E3; color: #767676">R</span><input type="text" class="form-control"
														placeholder="static limit" ng-model="option.staticLimit"
                                                                                                                readonly></div>
												</div>

												<div class="form-group">
													<label class="control-label" for="duration">Duration</label>
													<input type="text" class="form-control"
														ng-model="option.duration" readonly>
												</div>
												<div class="form-group">
													<label class="control-label" for="location">From
														Location</label> <input type="text" class="form-control"
														placeholder="Location" ng-model="option.location"
														readonly>
												</div>
												<div class="form-group">
													<label class="control-label" for="excess">Excess
														Amount</label>
													<textarea class="form-control" placeholder="Excess"
                                                                                                                                                                                                        ng-model="option.excess" readonly></textarea>
												</div>
												<div class="form-group">
													<label class="control-label" for="premium">Premium</label>
													<div class="input-group"><span class="input-group-addon" style="background: #E3E3E3; color: #767676">R</span><input type="text" class="form-control" ng-model="option.premium"
                                                                                                                                                                                                        readonly/></div>
												</div>
												<div class="form-group">
													<label class="control-label" for="crossPavement">Cross
														Pavement</label>
													<div class="input-group"><span class="input-group-addon" style="background: #E3E3E3; color: #767676">R</span><input type="text" class="form-control" placeholder="Cross Pavement"
                                                                                                                                                                                                        ng-model="option.pavement" readonly/></div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default" ng-if="quotation.quotationRequest.product.id == 5">	
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Make Model</label>
									<input type="text" class="form-control" ng-model="quotation.quotationRequest.makeModel" readonly>
								</div>
								<div class="form-group">
									<label class="control-label">Commodity</label>
									<input type="text" class="form-control" ng-model="quotation.quotationRequest.commodity" readonly>
								</div>
								<div class="form-group">
									<label class="control-label">Mode Of Coverage</label>
									<input type="text" class="form-control" ng-model="quotation.quotationRequest.modeOfCoverage" readonly>
								</div>
								<div class="form-group">
									<label class="control-label">Policy Inception Date</label>
									<input type="text" class="form-control" ng-model="quotation.quotationRequest.policyInceptionDate" readonly>
								</div>
								<div class="form-group">
									<label class="control-label">Policy Expiry Date</label>
									<input type="text" class="form-control" ng-model="quotation.quotationRequest.policyEndDate" readonly>
								</div>																				
								<div class="form-group">
									<label class="control-label">Cover Limits</label>
									<div class="input-group"><span class="input-group-addon" style="background: #E3E3E3; color: #767676">R</span> <input type="text" class="form-control" ng-model="quotation.quotationRequest.coverAmount" readonly></div>
								</div>								
								<div class="form-group">
									<label class="control-label">Cover</label>
									<textarea ng-model="quotation.cover" class="form-control" readonly></textarea>
								</div>								
								<div class="form-group">
									<label class="control-label" for="premium">Premium</label>
									<div class="input-group"><span class="input-group-addon" style="background: #E3E3E3; color: #767676">R</span><input type="text" class="form-control" ng-model="quotation.premium" readonly/></div>
								</div>								
							</div>
						</div>
					</div>										
				</div>
				
			</div>

			<div class="panel-footer text-right">
                            
                                <p>
					<!-- <a class="btn btn-warning"
						ng-href="#/quotation-requests/{{quotation.quotationRequest.reference}}"
						role="button">Re-Apply For Quotation</a> -->
				
					<a class="btn btn-info"
						ng-href="#/quotations/{{quotation.quotationRequest.reference}}/application"
						role="button">Apply For Policy</a>
				</p>
			</div>
		</div>
	</div>
</div>

