<div class="row" style="padding: 25px;" ng-init="init()">


	<div class="col-md-3">

		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Product</h4>
			</div>
			<div class="panel-body" align="center" style="height: 300px;">
				<img class="img-circle"
					ng-src="{{quotation.quotationRequest.product.image}}" width="140"
					height="140">
				<h3>{{quotation.quotationRequest.product.name}}</h3>
				<p>{{quotation.quotationRequest.product.description}}</p>
			</div>
		</div>

		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Personal Details</h4>
			</div>
			<div class="panel-body">
				<div>
					<div class="form-group">
						<label class="control-label" for="reference">Reference</label> <input
							type="text" class="form-control" id="reference"
							ng-model="quotation.quotationRequest.reference"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="companyName">Company</label> <input
							type="text" class="form-control" id="companyName"
							ng-model="quotation.quotationRequest.companyName"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="applicant">Applicant</label> <input
							type="text" class="form-control" id="applicant"
							ng-model="quotation.quotationRequest.applicantName"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="appliedOn">Applied On</label> <input
							type="text" class="form-control" id="appliedOn"
							ng-model="quotation.quotationRequest.createDate"
							readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="control-label" for="status">Status</label> <input
							type="text" class="form-control" id="status"
							ng-model="quotation.quotationRequest.status" readonly="readonly" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9" ng-repeat=" option in quotation.option">

		<div class="panel panel-default" style="box-shadow: 0 0 30px black;">
			<div class="panel-heading">
				<h4>Quotation Options</h4>

			</div>
			<div class="panel-body">
				<div>
					<div class="form-group">
						<label class="control-label" for="q_{{index}}">Location: </label>
						<input type="text" class="form-control" id="q_{{index}}"
							ng-model="option.location" readonly="readonly"> <label
							class="control-label" for="q_{{index}}">Commodity: </label> <input
							type="text" class="form-control" id="q_{{index}}"
							ng-model="option.commodity" readonly="readonly"> <label
							class="control-label" for="q_{{index}}">Limit: </label> <input
							type="text" class="form-control" id="q_{{index}}"
							ng-model="option.limit" readonly="readonly">

						<div ng-if="quotation.quotationRequest.product.id == 4">
							<label class="control-label" for="q_{{index}}">Static
								Limit :</label> <input type="text" class="form-control" id="q_{{index}}"
								ng-model="option.staticLimit" readonly="readonly">
						</div>

						<label class="control-label" for="q_{{index}}">Cover: </label> <input
							type="text" class="form-control" id="q_{{index}}"
							ng-model="option.cover" readonly="readonly"> <label
							class="control-label" for="q_{{index}}">Excess: </label> <input
							type="text" class="form-control" id="q_{{index}}"
							ng-model="option.excess" readonly="readonly"> <label
							class="control-label" for="q_{{index}}">Premium: </label> <input
							type="text" class="form-control" id="q_{{index}}"
							ng-model="option.premium" readonly="readonly"> <label
							class="control-label" for="q_{{index}}">Cross Pavements:
						</label> <input type="text" class="form-control" id="q_{{index}}"
							ng-model="option.pavement" readonly="readonly">
					</div>
				</div>

			</div>
			<div class="panel-footer text-right">
				<p>
					<a class="btn btn-info"
						ng-href="#/quotations/{{quotation.quotationRequest.reference}}/{{option.quotationOptionId}}"
						role="button">Apply For Policy</a>
				</p>
			</div>
		</div>


	</div>


</div>

