<div>
	<div style="text-align: center; margin: 0 auto">
		<a href="#/view1">View 1</a> | <a href="#/view2">View 2</a>

	</div>
	<div style="margin-top: 10px;" />
	<div ng-view
		style="border: dashed 1px; width: 400px; height: 150px; margin: 0 auto; padding: 5px;" /></div>

	<script type="text/ng-template" id="view1.html">
    Content of View 1 <br/>
    pagination: {{pagination}}
    data: {{data}}
    <br/>
    <ul class="pagination">
      <li class="{{pagination.hasPrevious()?'':'disabled'}}"><a href="" ng-click="pagination.previous()">&laquo;</a></li>
      <li ng-show="pagination.hasPrevious()"><a href="">{{pagination.current() - 1}}</a></li>
        <li ng-hide="pagination.hasPrevious()"><span>&nbsp;</span></li>
      <li class="active"><a href="">{{pagination.current()}}</a></li>
      <li ng-show="pagination.hasNext()"><a href="">{{pagination.current() + 1}}</a></li>
      <li class="{{pagination.hasNext()?'':'disabled'}}"><a href="" ng-click="pagination.next()">&raquo;</a></li>
    </ul>
</script>
	<script type="text/ng-template" id="view2.html">
    Content of View 2 <br/>
    pagination: {{pagination}}
    data: {{data}}
    <br/>
    <ul class="pagination">
      <li class="{{pagination.hasPrevious()?'':'disabled'}}"><a href="" ng-click="pagination.previous()">&laquo;</a></li>
      <li ng-show="pagination.hasPrevious()"><a href="">{{pagination.current() - 1}}</a></li>
        <li ng-hide="pagination.hasPrevious()"><span>&nbsp;</span></li>
      <li class="active"><a href="">{{pagination.current()}}</a></li>
      <li ng-show="pagination.hasNext()"><a href="">{{pagination.current() + 1}}</a></li>
      <li class="{{pagination.hasNext()?'':'disabled'}}"><a href="" ng-click="pagination.next()">&raquo;</a></li>
    </ul>
</script>