<div class="row" style="padding: 25px;" ng-init="init()">



    <div class="col-md-12">

        <form data-toggle="validator" role="form" name="form" id="form" enctype="multipart/form-data">
            <div>
                <div>
                    <label>Upload Inverstigation Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="investigationReport" file-model="investigationReport"/>
                </div>
                <br>
                <div>
                    <label>Upload Comfirmation Amount </label> 

                    <input class="btn btn-primary pull-right" type="file" name="confirmationAmount" file-model="confirmationAmount"/>
                </div>
                <br>
                <div>
                    <label>Upload Proof of Pick Up </label> 

                    <input class="btn btn-primary pull-right" type="file" name="proofOfPickup" file-model="proofOfPickup"/>
                </div>
                <br>
                <div>
                    <label>Upload Affidavit </label> 

                    <input class="btn btn-primary pull-right" type="file" name="caseNumber" file-model="caseNumber"/>
                </div>
                <br>
                <div>
                    <label>Upload Amount Banked</label> 

                    <input class="btn btn-primary pull-right" type="file" name="amountBanked" file-model="amountBanked"/>
                </div>
                <br>
                <div>
                    <label>Upload Trans Track Document</label> 

                    <input class="btn btn-primary pull-right" type="file" name="transTrackDocument" file-model="transTrackDocument"/>
                </div>
                <br>
                <div>
                    <label>Upload Quote</label> 

                    <input class="btn btn-primary pull-right" type="file" name="quote" file-model="quote"/>
                </div>
                <br>
                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photos" file-model="photos"/>
                </div>

                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="report" file-model="report"/>
                </div>

                <div>
                    <label>Upload Photo 1 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo1" file-model="photo1"/>
                </div>

                <div>
                    <label>Upload Photo 2 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo2" file-model="photo2"/>
                </div>

                <div>
                    <label>Upload Photo 3 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo3" file-model="photo3"/>
                </div>

                <div>
                    <label>Upload Photo 4 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo4" file-model="photo4"/>
                </div>
            </div>
                <div>
                    <label>Upload Inverstigation Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="investigationReport" file-model="investigationReport"/>
                </div>
                <br>
                <div>
                    <label>Upload Comfirmation Amount </label> 

                    <input class="btn btn-primary pull-right" type="file" name="confirmationAmount" file-model="confirmationAmount"/>
                </div>
                <br>
                <div>
                    <label>Upload Proof of Pick Up </label> 

                    <input class="btn btn-primary pull-right" type="file" name="proofOfPickup" file-model="proofOfPickup"/>
                </div>
                <br>
                <div>
                    <label>Upload Affidavit </label> 

                    <input class="btn btn-primary pull-right" type="file" name="caseNumber" file-model="caseNumber"/>
                </div>
                <br>
                <div>
                    <label>Upload Amount Banked</label> 

                    <input class="btn btn-primary pull-right" type="file" name="amountBanked" file-model="amountBanked"/>
                </div>
                <br>
                <div>
                    <label>Upload Trans Track Document</label> 

                    <input class="btn btn-primary pull-right" type="file" name="transTrackDocument" file-model="transTrackDocument"/>
                </div>
                <br>
                <div>
                    <label>Upload Quote</label> 

                    <input class="btn btn-primary pull-right" type="file" name="quote" file-model="quote"/>
                </div>
                <br>
                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photos" file-model="photos"/>
                </div>

                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="report" file-model="report"/>
                </div>

                <div>
                    <label>Upload Photo 1 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo1" file-model="photo1"/>
                </div>

                <div>
                    <label>Upload Photo 2 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo2" file-model="photo2"/>
                </div>

                <div>
                    <label>Upload Photo 3 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo3" file-model="photo3"/>
                </div>

                <div>
                    <label>Upload Photo 4 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo4" file-model="photo4"/>
                </div>
            </div>
                <div>
                    <label>Upload Inverstigation Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="investigationReport" file-model="investigationReport"/>
                </div>
                <br>
                <div>
                    <label>Upload Comfirmation Amount </label> 

                    <input class="btn btn-primary pull-right" type="file" name="confirmationAmount" file-model="confirmationAmount"/>
                </div>
                <br>
                <div>
                    <label>Upload Proof of Pick Up </label> 

                    <input class="btn btn-primary pull-right" type="file" name="proofOfPickup" file-model="proofOfPickup"/>
                </div>
                <br>
                <div>
                    <label>Upload Affidavit </label> 

                    <input class="btn btn-primary pull-right" type="file" name="caseNumber" file-model="caseNumber"/>
                </div>
                <br>
                <div>
                    <label>Upload Amount Banked</label> 

                    <input class="btn btn-primary pull-right" type="file" name="amountBanked" file-model="amountBanked"/>
                </div>
                <br>
                <div>
                    <label>Upload Trans Track Document</label> 

                    <input class="btn btn-primary pull-right" type="file" name="transTrackDocument" file-model="transTrackDocument"/>
                </div>
                <br>
                <div>
                    <label>Upload Quote</label> 

                    <input class="btn btn-primary pull-right" type="file" name="quote" file-model="quote"/>
                </div>
                <br>
                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photos" file-model="photos"/>
                </div>

                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="report" file-model="report"/>
                </div>

                <div>
                    <label>Upload Photo 1 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo1" file-model="photo1"/>
                </div>

                <div>
                    <label>Upload Photo 2 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo2" file-model="photo2"/>
                </div>

                <div>
                    <label>Upload Photo 3 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo3" file-model="photo3"/>
                </div>

                <div>
                    <label>Upload Photo 4 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo4" file-model="photo4"/>
                </div>
            </div>
                <div>
                    <label>Upload Inverstigation Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="investigationReport" file-model="investigationReport"/>
                </div>
                <br>
                <div>
                    <label>Upload Comfirmation Amount </label> 

                    <input class="btn btn-primary pull-right" type="file" name="confirmationAmount" file-model="confirmationAmount"/>
                </div>
                <br>
                <div>
                    <label>Upload Proof of Pick Up </label> 

                    <input class="btn btn-primary pull-right" type="file" name="proofOfPickup" file-model="proofOfPickup"/>
                </div>
                <br>
                <div>
                    <label>Upload Affidavit </label> 

                    <input class="btn btn-primary pull-right" type="file" name="caseNumber" file-model="caseNumber"/>
                </div>
                <br>
                <div>
                    <label>Upload Amount Banked</label> 

                    <input class="btn btn-primary pull-right" type="file" name="amountBanked" file-model="amountBanked"/>
                </div>
                <br>
                <div>
                    <label>Upload Trans Track Document</label> 

                    <input class="btn btn-primary pull-right" type="file" name="transTrackDocument" file-model="transTrackDocument"/>
                </div>
                <br>
                <div>
                    <label>Upload Quote</label> 

                    <input class="btn btn-primary pull-right" type="file" name="quote" file-model="quote"/>
                </div>
                <br>
                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photos" file-model="photos"/>
                </div>

                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="report" file-model="report"/>
                </div>

                <div>
                    <label>Upload Photo 1 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo1" file-model="photo1"/>
                </div>

                <div>
                    <label>Upload Photo 2 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo2" file-model="photo2"/>
                </div>

                <div>
                    <label>Upload Photo 3 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo3" file-model="photo3"/>
                </div>

                <div>
                    <label>Upload Photo 4 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo4" file-model="photo4"/>
                </div>
            </div>
                <div>
                    <label>Upload Inverstigation Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="investigationReport" file-model="investigationReport"/>
                </div>
                <br>
                <div>
                    <label>Upload Comfirmation Amount </label> 

                    <input class="btn btn-primary pull-right" type="file" name="confirmationAmount" file-model="confirmationAmount"/>
                </div>
                <br>
                <div>
                    <label>Upload Proof of Pick Up </label> 

                    <input class="btn btn-primary pull-right" type="file" name="proofOfPickup" file-model="proofOfPickup"/>
                </div>
                <br>
                <div>
                    <label>Upload Affidavit </label> 

                    <input class="btn btn-primary pull-right" type="file" name="caseNumber" file-model="caseNumber"/>
                </div>
                <br>
                <div>
                    <label>Upload Amount Banked</label> 

                    <input class="btn btn-primary pull-right" type="file" name="amountBanked" file-model="amountBanked"/>
                </div>
                <br>
                <div>
                    <label>Upload Trans Track Document</label> 

                    <input class="btn btn-primary pull-right" type="file" name="transTrackDocument" file-model="transTrackDocument"/>
                </div>
                <br>
                <div>
                    <label>Upload Quote</label> 

                    <input class="btn btn-primary pull-right" type="file" name="quote" file-model="quote"/>
                </div>
                <br>
                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photos" file-model="photos"/>
                </div>

                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="report" file-model="report"/>
                </div>

                <div>
                    <label>Upload Photo 1 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo1" file-model="photo1"/>
                </div>

                <div>
                    <label>Upload Photo 2 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo2" file-model="photo2"/>
                </div>

                <div>
                    <label>Upload Photo 3 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo3" file-model="photo3"/>
                </div>

                <div>
                    <label>Upload Photo 4 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo4" file-model="photo4"/>
                </div>
            </div>
                <div>
                    <label>Upload Inverstigation Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="investigationReport" file-model="investigationReport"/>
                </div>
                <br>
                <div>
                    <label>Upload Comfirmation Amount </label> 

                    <input class="btn btn-primary pull-right" type="file" name="confirmationAmount" file-model="confirmationAmount"/>
                </div>
                <br>
                <div>
                    <label>Upload Proof of Pick Up </label> 

                    <input class="btn btn-primary pull-right" type="file" name="proofOfPickup" file-model="proofOfPickup"/>
                </div>
                <br>
                <div>
                    <label>Upload Affidavit </label> 

                    <input class="btn btn-primary pull-right" type="file" name="caseNumber" file-model="caseNumber"/>
                </div>
                <br>
                <div>
                    <label>Upload Amount Banked</label> 

                    <input class="btn btn-primary pull-right" type="file" name="amountBanked" file-model="amountBanked"/>
                </div>
                <br>
                <div>
                    <label>Upload Trans Track Document</label> 

                    <input class="btn btn-primary pull-right" type="file" name="transTrackDocument" file-model="transTrackDocument"/>
                </div>
                <br>
                <div>
                    <label>Upload Quote</label> 

                    <input class="btn btn-primary pull-right" type="file" name="quote" file-model="quote"/>
                </div>
                <br>
                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photos" file-model="photos"/>
                </div>

                <div>
                    <label>Upload Report </label> 

                    <input class="btn btn-primary pull-right" type="file" name="report" file-model="report"/>
                </div>

                <div>
                    <label>Upload Photo 1 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo1" file-model="photo1"/>
                </div>

                <div>
                    <label>Upload Photo 2 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo2" file-model="photo2"/>
                </div>

                <div>
                    <label>Upload Photo 3 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo3" file-model="photo3"/>
                </div>

                <div>
                    <label>Upload Photo 4 </label> 

                    <input class="btn btn-primary pull-right" type="file" name="photo4" file-model="photo4"/>
                </div>
            </div>

        </form>


    </div>

    <div class="panel-footer text-right">

        <div class="form-group">
            <!--                        <button type="submit" class="btn btn-primary" form="form" ng-click="submitClaimRequest(form)">Log A Claim</button>-->
            <button class="btn btn-success" ng-click="upload(form)" role="button">upload</button>
        </div>

    </div>

</div>




