
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
}

#content {
	padding-bottom:30px; /* Height of the footer element */
}
#footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
}


.runnable-example {

}

.container {
    margin-top: 10px;
}
div[name=contacts]{
    background-color:#ffffff;
    clear:both;
    text-align:center;
    padding:5px; 
    box-shadow: 0 0 30px black;
}

div[name=blueQHeader]{
    clear:both;
    padding:5px; 
}


